<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADMIN SOLE MATES</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/assets_AdminLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/assets_AdminLogin/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/assets_AdminLogin/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/assets_AdminLogin/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/assets_AdminLogin/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/assets_AdminLogin/img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Dashboard</h1>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <div>  <p style="color:green" id="Success-message">{{val}}</p></div>
                  <div>  <p style="color:green" id="uname-message">{{name}}</p></div>

                  <form method="post" class="form-validate">
                    <div class="form-group">
                      <input id="name"  type="text" name="username" required data-msg="Please enter your username" class="input-material" onkeyup="validatUsername()">
                      <label for="login-username" class="label-material">User Name</label>
                       <span id="usernameErr"></span>
                    </div>
                    <div class="form-group">
                      <input id="password" type="password" name="password" required data-msg="Please enter your password" class="input-material" >
                      <label for="login-password" class="label-material">Password</label>
                         <span id="passwordErr"></span>
                    </div> <button class="btn btn-primary" type="submit">Login</button>
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  {{!-- </form><a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an account? </small><a href="#" class="signup">Signup</a> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
         <p>2018 &copy; Your company. Download From <a target="_blank" href="https://templateshub.net">Templates Hub</a>.</p>
      </div>
    </div>

    <script>
      setInterval(()=>{

        const data=document.getElementById("Success-message")

        data.style.display="none"
          

      },4000)


         setInterval(()=>{

        const data=document.getElementById("uname-message")

        data.style.display="none"
          

      },4000)
    </script>



    

   <script>

         const nameError = document.getElementById('usernameErr')
        const passError = document.getElementById('passwordErr')
  

    

      function validatUsername(){
            console.log("hyyyyy")

            name=document.getElementById("name").value
            console.log(name)
            if(name.length==0){
                console.log("hyyyyy22222222222222222")
                nameError.textContent="Enter the Username"
                nameError.style.color="red"
                return false

            }

            if(!name.match(/^[a-zA-Z0-9_]{3,20}/)){
                nameError.innerHTML="Minimum 3 Characters"
                   nameError.style.color="red"
                return false
            }
              nameError.innerHTML = ''
            return true

        }


   


          function validatPassword(){
            console.log("hyyyyy password")

            password=document.getElementById("password").value
            console.log(password)
            if(password.length==0){
                passError.textContent="Enter the Password"
                passError.style.color="red"
                return false

            }

            if(!password.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*]).{8,}$/)){
                passError.innerHTML="Password Must be Strong"
                   passError.style.color="red"
                return false
            }
              passError.innerHTML = ''
            return true

        }


   </script>
  
       
    <!-- JavaScript files-->
    <script src="/assets_AdminLogin/vendor/jquery/jquery.min.js"></script>
    <script src="/assets_AdminLogin/vendor/popper.js/popper.min.js"> </script>
    <script src="/assets_AdminLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets_AdminLogin/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/assets_AdminLogin/vendor/chart.js/Chart.min.js"></script>
    <script src="/assets_AdminLogin/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets_AdminLogin/js/front.js"></script>
  </body>
</html>