<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <h3 style="color:red">Sole Mates</h3>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/allcollection">shop</a></li>
                                <li><a href="/profile">Profile</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <form action="/searchproduct" class="form-inline" method="post">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="filter"
                                    value="{{filterProduct}}" aria-label="Search">
                                <button style="height: 35px; font-size: 12px; padding: 4px 8px;"
                                    class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>

                            <li> <a href="/profile"><span class="flaticon-user"></span></a></li>
                            <li><a href="/cart"><span class="flaticon-shopping-cart"></span></a> </li>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>